p{
    color: blue;
    font-weight: 800;
    font-size: 20px;
    /* font-family: sans-serif; */
}
h1{
    font-size: 40px;
    /* font-family: sans-serif; */
}
p,h1{
    font-family: sans-serif;
}


.uppercase{
    text-transform: uppercase;
}

.cursive{
    font-family: cursive;
}
/* li h4{
    text-transform: uppercase;
    font-family: cursive;
} */

#site-desc p{
    color: red;

}

#blog-title:hover{
    color: aqua;
}
